.main_left{
	float: left;
	width: 320px;
	margin-right: 25px;
}
.main_left:after{
	display:block;
    content:'clear';
    clear:both;
    line-height:0;
    visibility:hidden;
}
.main_right{
	float: left;
	width: 700px;
}
.para_left{
	float: left;
}
.para_right{
	float: right;
}
.block_para{
	text-align: left;
}
.block_para:after{
	display:block;
    content:'clear';
    clear:both;
    line-height:0;
    visibility:hidden;
}
.block{
    border-radius: 10px;
    box-shadow: 0px 1px 6px #666;
    background-color: white;
    margin-bottom: 18px;
    padding: 10px 20px 5px 20px;
}
.block h2{
	text-align: left;
	margin-top: 16px;
	margin-bottom: 24px;
	color: #2e4e7e;
	font-size: 26px;
}
.block h2 span{
	float: right;
}
.block h2{
	text-align: left;
	margin-bottom: 24px;
    color: #057748;
}

.addButton{
	width: 300px;
	height: 50px;
	line-height: 50px;
	border-radius: 12px;
	background-color: #ccc;
	margin: 30px auto 0px auto;
}
.changePlan{
	display: none;
	margin: 0px auto 0px auto;
	padding: 4px 0px 10px 0px;
	border-top: 1px dotted #6b6882;
}
.changePlan label{
    position: relative;
    left: 16px;
}
.confirmPage{
	display: inline-block;
	padding:  7px 16px;
	border-radius: 5px;
	margin-left: 10px;
	background-color: #ccc;
}
.findInfo{
	color: #999;
}
.refresh{
	border-radius: 4px;
	position: relative;
	font-size: 17px;
	padding: 3px 5px;
	background-color: #0eb83a;
	color: white;
	cursor: pointer;
}
.refreshArea{
	width: 290px;
}
.add{
	background-color: #a88462;
    padding: 3px 5px;
    border-radius: 4px;
    color: #edd1d8;
    cursor: pointer;
}
#searchReturn{
	color: #aaa;
}
.userName{
	color: #4b5cc4;
}


/*右侧*/
.Friends{
    padding-bottom: 18px;
    border-bottom: 2px dotted #ccc;
}
.Friends h2{
    position: relative;
    color: #2e4e7e;
    text-align: left;
}

.bookname{
    text-align: right;
}

.name{
	text-align: left;
	padding-left: 36px;
	margin-bottom: 0;
	font-size: 20px;
}
.oneFriend:after{
    display:block;
    content:'clear';
    clear:both;
    line-height:0;
    visibility:hidden;
}

.list{
    padding: 10px 24px;
    margin: 0px;
}

.list:after{
    display:block;
    content:'clear';
    clear:both;
    line-height:0;
    visibility:hidden;
}

.EBook_link{
    display: block;
    float: left;
    width: 100px;
    height: 125px;
    position: relative;
    margin: 10px 12.5px;
}
.EBook_link_img{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
}
.EBook_link_title{
    position: relative;
    top: 105px;
    left: 2px;
    font-size: 14px;
    text-align: center;
    color: #797979;
}

/*#asideButton{
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: url(../img/23.png) center center no-repeat;
}*/
.uploadLink{
    position: absolute;
    right: 0px;
    font-size: 16px;
    color: #bbb;
    margin-left: 30px;
    font-weight: normal;
}

.Weixin_link_img{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.otherLink_img{
    position: absolute;
    left: 50%;
    margin-left: -38.45px;
    width: 76.9px;
    height: 100px;
}
.plan{
    padding: 0px 50px;
    margin: 6px 0px;
    border: 1px solid #ccc;
}
.plan:after{
    display:block;
    content:'clear';
    clear:both;
    line-height:0;
    visibility:hidden;
}

.planTitle{
    color: #003472;
    font-size: 18px;
}