<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>阅读计划-首页</title>
<link type="text/css" rel="stylesheet" href="../static/css/main.css"/>
<link type="text/css" rel="stylesheet" href="../static/css/index.css"/>
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
</head>
<body>
	<div id="bg"></div>
	<div id="wrap" userID="{{ userID }}">

		<div id="main">
			<div class="main_left">
				<div class="block">
					<h3>白鹿原</h3>
					<div class="planData">
						<div class="planDataDiamond mainFigure">
							<p class="planDataDiamond_title">还剩50%</p>
						</div>
						<p class="block_para">
							<span class="para_left">总体计划已完成</span>
							<span class="para_right">50%</span>
						</p>
						<p class="block_para">
							<span class="para_left">本月已读</span>
							<span class="para_right">100页</span>
						</p>
						<p class="block_para">
							<span class="para_left">还剩下</span>
							<span class="para_right">230页</span>
						</p>
						<p class="block_para refreshArea">
							<span class="para_right refresh">+更新</span>
						</p>
						<div class="changePlan">
						    <p class="block_para">
					    		<label for="">请输入今天读的页数： </label>
					    	</p>
							<input type="text" id="pagenum">
							<span class="confirmPage">确定</span>
						</div>
					</div>
				</div>
				<div class="block">
					<h3>文化苦旅</h3>
					<div class="planData">
						<div class="planDataDiamond mainFigure">
							<p class="planDataDiamond_title">还剩50%</p>
						</div>
						<p class="block_para">
							<span class="para_left">总体计划已完成</span>
							<span class="para_right">50%</span>
						</p>
						<p class="block_para">
							<span class="para_left">本月已读</span>
							<span class="para_right">100页</span>
						</p>
						<p class="block_para">
							<span class="para_left">还剩下</span>
							<span class="para_right">230页</span>
						</p>
						<p class="block_para refreshArea">
							<span class="para_right refresh">+更新</span>
						</p>
						<div class="changePlan">
						    <p class="block_para">
					    		<label for="">请输入今天读的页数： </label>
					    	</p>
							<input type="text" id="pagenum">
							<span class="confirmPage">确定</span>
						</div>
					</div>
				</div>
			</div>
			<div class="main_right">
				<div class="block blockleft2">
					<h2>总体进度</h2>
					<div class="planData">
						<div class="planDataDiamond">
							<p class="planDataDiamond_title">已完成</p>
							<p class="planDataDiamond_data">50%</p>
						</div>
						<div class="planDataDiamond">
							<p class="planDataDiamond_title">已读</p>
							<p class="planDataDiamond_data">133页</p>
						</div>
						<div class="planDataDiamond">
							<p class="planDataDiamond_title">已开始</p>
							<p class="planDataDiamond_data">8天</p>
						</div>
						<div class="planDataDiamond d1">
							<p class="planDataDiamond_title">离结束还有</p>
							<p class="planDataDiamond_data_important">8天</p>
						</div>
						<div class="planDataDiamond d1">
							<p class="planDataDiamond_title">还剩</p>
							<p class="planDataDiamond_data_important">100页</p>
						</div>
					</div>
				</div>
				<div class="block blockleft2">
					<h2>我的笔记</h2>
					<div class="articleBlock">
						<h2>怡红快绿是春来</h2>
						<p class="articleBlock_para">
							常听人评价黛玉“小性子”甚至“心胸狭窄”，可我不这么认为！因为在这背后，只是因为她太在意宝玉了，因为爱的深、爱的切，所以不能不介意。我总觉得宝玉给黛玉的时间太少，黛玉的心太细腻，而宝玉却体会不到。在她某个抑郁的瞬间，心情像是走丢的小孩没了方寸，宝玉不该到来的问候会被她驳回，狠狠的、凶凶的，却是无心的，不是不接受，只是因为太难受，于是她只有用诗来发泄内心酝酿已久积压不了的情感。
						</p>
						<p class="articleBlock_para">
							她的泪，像涓涓细流一样潺潺流动，汇聚成一泓清泉，澄清着她的悲剧。她哭泣，因为她太委屈，她是悲惨的、是值得人们怜悯的，她和宝玉的爱情在那样的社会是不被容许的。她对宝玉太痴情，她一生无限伤感，然而临终前她笑着喊“宝玉，宝玉……”然后她永远的离开了这个世界……
						</p>
						<div class="bookname">
							《周汝昌品红楼梦》
						</div>
					</div>
					<div class="articleBlock">
						<h2>京华烟云</h2>
						<p class="articleBlock_para">
							这是一本被称为“反乌托邦”的小说，如果不是因为恰巧同时又在读《理想国》这一乌托邦鼻祖级的书，或许我不会这么明显地察觉到偏听的危害。《1984》的讽刺非常到位，读起来也津津有味，完全不像《理想国》中让人想丢了书的诡辩式论调。因而，《1984》也就会让读者很自然地觉得国家极端政权是一件多么恐怖的事，一味地强调个人的权利，而没有意识到自己同样是被书控制了思想。
						</p>
						<p class="articleBlock_para">
							林语堂的英语文笔自然是极好的，他善用排比长句，一口气读下来真是酣畅淋漓，真是难为他想得来。如果说这于议论文上尚有限，那于小说上飞文染翰就是不可限量了。这也就是为什么我认为《京华烟云》比本书能够多一颗星的重要原因了。
						</p>
						<div class="bookname">
							《林语堂》
						</div>
					</div>
					<div class="articleBlock">
						<h2>谁的青春不迷茫</h2>
						<p class="articleBlock_para">
							这是一本被称为“反乌托邦”的小说，如果不是因为恰巧同时又在读《理想国》这一乌托邦鼻祖级的书，或许我不会这么明显地察觉到偏听的危害。《1984》的讽刺非常到位，读起来也津津有味，完全不像《理想国》中让人想丢了书的诡辩式论调。因而，《1984》也就会让读者很自然地觉得国家极端政权是一件多么恐怖的事，一味地强调个人的权利，而没有意识到自己同样是被书控制了思想。
						</p>
						<p class="articleBlock_para">
							林语堂的英语文笔自然是极好的，他善用排比长句，一口气读下来真是酣畅淋漓，真是难为他想得来。如果说这于议论文上尚有限，那于小说上飞文染翰就是不可限量了。这也就是为什么我认为《京华烟云》比本书能够多一颗星的重要原因了。
						</p>
						<div class="bookname">
							《林语堂》
						</div>
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
		</div>
	</div>

<script type="text/javascript" src="../static/js/nev.js"></script>
<script text="text/javascript" src="../static/js/main.js"></script>
<script text="text/javascript" src="../static/js/index.js"></script>
<script text="text/javascript">


</script>
</body>
</html>