<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link type="text/css" rel="stylesheet" href="../static/css/main.css"/>
<link type="text/css" rel="stylesheet" href="../static/css/memo.css"/>
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<title>阅读计划-笔记</title>
<script text="text/javascript">
</script>
</head>
<body>
	<div id="bg"></div>
	<div id="wrap">

		<div id="main">
			<div class="block">
				<div class="timeago" style="display: block;"><div class="timeago-words"><span class="timeago-figure">2</span> yr</div>Ago</div>
				<h2>怡红快绿是春来</h2>
				<p class="block_para">
					回忆是一个很神奇的东西。我们通常会觉得回忆很美好，美好到我们忍不住想和我们的新朋友分享。即使是痛苦不堪的回忆，也会用最善意和温馨的方式去解读。而当我们如数家珍的时候，看着对方努力想表现出感兴趣的样子，自己好像也会被无聊到：“是哦，现在想想，这些事的确挺无趣的。”下一次我们可能会像说书人一样，把这件事添油加醋地尽量描绘得有意思些；或者，干脆不愿再告诉别人。
				</p>
				<p class="block_para">
					前阵子大概看电脑时间过长，眼睛总是很累，不用眼又闲得慌。于是，我下载了一个听书的软件懒人听书，因为是真人朗读的，所以效果确实比QQ阅读的机器朗读效果好些，虽然后者已经让我惊讶现在的朗读算法能做到这么好了。懒人听书的书库并不大，其中就有一直想读而未读的《围城》，就这样我慢慢听完了这本书，前后历时一个多月。
				</p>
				<div class="bookname">
					《周汝昌品红楼梦》
				</div>
			</div>
			<div class="block">
				<div class="timeago" style="display: block;"><div class="timeago-words"><span class="timeago-figure">2</span> yr</div>Ago</div>
				<h2>京华烟云</h2>
				<p class="block_para">
					这是一本被称为“反乌托邦”的小说，如果不是因为恰巧同时又在读《理想国》这一乌托邦鼻祖级的书，或许我不会这么明显地察觉到偏听的危害。《1984》的讽刺非常到位，读起来也津津有味，完全不像《理想国》中让人想丢了书的诡辩式论调。因而，《1984》也就会让读者很自然地觉得国家极端政权是一件多么恐怖的事，一味地强调个人的权利，而没有意识到自己同样是被书控制了思想。
				</p>
				<p class="block_para">
					林语堂的英语文笔自然是极好的，他善用排比长句，一口气读下来真是酣畅淋漓，真是难为他想得来。如果说这于议论文上尚有限，那于小说上飞文染翰就是不可限量了。这也就是为什么我认为《京华烟云》比本书能够多一颗星的重要原因了。
				</p>
				<div class="bookname">
					《林语堂》
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../static/js/nev.js"></script>
</body>
</html>