<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link type="text/css" rel="stylesheet" href="../static/css/main.css"/>
<link type="text/css" rel="stylesheet" href="../static/css/plan.css"/>
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<title>阅读计划-新建计划</title>
<script text="text/javascript">
</script>
</head>
<body>
	<div id="bg"></div>
	<div id="wrap">



		<div id="main">
			<h3> 创建新的读书计划</h3>
			<p>
				<label for="">书名</label><input class="text" type="text">
			</p>
			<p>
				<label for="">页数</label><input class="text" type="text">
			</p>
			<p>
				<label for="">计划天数</label><input class="text" type="text">
			</p>
			<p id="newSelect">
				<label for="">选项</label><span class="hint">(请在下面之中选择一个选项)</span>
				<div id="newSelectList">
					<span>小说</span><span>文学</span><span>传记</span><span>艺术</span><span>成功</span><span>管理</span><span>经济</span><span>金融与投资</span><span>孕产/胎教</span><span>旅游</span><span>烹饪/美食</span><span>时尚</span><span>家居</span><span>婚恋与两性</span><span>娱乐休闲</span><span>健身与保健</span><span>历史</span><span>心理学</span><span>政治/军事</span><span>国学/古籍</span><span>哲学/宗教</span><span>法律</span><span>文化社会</span><span>自然科学</span><span>科普读物</span><span>计算机与互联网</span><span>建筑</span><span>医学</span><span>工业技术</span><span>电子与通信</span><span>农业/林业科学与自然</span><span>体育/运动</span><span>外语</span>
				</div>
				<input id="optionString" style="display:none" name="option">
			</p>
			<p>
				<input id="submit" type="submit" value="确定">
			</p>
		</div>
	</div>

<script type="text/javascript" src="../static/js/nev.js"></script>
<script type="text/javascript" src="../static/js/plan.js"></script>
</body>
</html>