<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link type="text/css" rel="stylesheet" href="../static/css/main.css"/>
<link type="text/css" rel="stylesheet" href="../static/css/statisic.css"/>
<script type="text/javascript" src="../static/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../static/js/echarts.common.min.js"></script>

<title>阅读计划-统计数据</title>
<script text="text/javascript">

</script>
</head>
<body>
	<div id="bg"></div>
	<div id="wrap">

		<div id="main">
			<div class="block">
				<h2>一个月内阅读页数</h2>
				<div id="yueduzongshu"></div>
			</div>
			<div class="block">
				<h2>阅读分类</h2>
				<div id="bingtu"></div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../static/js/nev.js"></script>
<script type="text/javascript" src="../static/js/statisic.js"></script>
</body>
</html>